/* COGS3 studyBuddy specific styles go here. */
#title {
  background-color: #60b4c0;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "DynaPuff", serif;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.5;
  color: #fff;
}

h2 {
  color: #fff;
  font-family: "DynaPuff";
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "DynaPuff";
  font-weight: bold;
}

p {
  color: #60b4c0;
  font-weight: bold;
}

p.summary {
  color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'DynaPuff';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.navbar-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.search-btn {
  color: #fff;
  font-weight: bold;
}

.brand-icon {
  margin: 1rem;
}

.brand-icon:hover {
  color: #ef8712;
  cursor: pointer;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
  background-color: #ef8712;
  color: #fff;
}

/* Title Image */
.summary {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #c2fbf2;
  z-index: 1;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-details {
  color: #60b4c0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.icon {
  color: #ef8712;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #60b4c0;
  cursor: pointer;
}

/* Education */
#education {
  padding: 7% 15%;
  background-color: #60b4c0;
  z-index: 1;
  position: relative;
  text-align: center;
}

.education-header {
  color: #fff;
  font-size: 3rem;
}

.education-box {
  text-align: center;
  padding: 5%;
  color: #fff;
}

.education-details {
  color: #c2fbf2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.edu-icon {
  color: #ef8712;
  margin-bottom: 1rem;
}

.edu-icon:hover {
  color: #c2fbf2;
  cursor: pointer;
}

/* Skills */
#skills {
  padding: 100px;
  text-align: center;
  background-color: #c2fbf2;
}

.skills-header {
  color: #000;
  font-size: 3rem;
}

.skills-column {
  padding: 3% 2%;
}

.skills-btn {
  background-color: #ef8712;
  color: #fff;
  font-weight: bold;
}

.skills-description {
  font-size: large;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.skills-plans {
  color: #fff;
}

.card-header {
  background-color: #ef8712;
}

.card-body {
  background-color: #60b4c0;
}

/* Experience */
#exp {
  padding: 100px;
  text-align: center;
  background-color: #c2fbf2;
}

.exp-header {
  color: #000;
  font-size: 3rem;
}

.exp-column {
  padding: 3% 2%;
}

.exp-btn {
  background-color: #ef8712;
  color: #fff;
  font-weight: bold;
}

.exp-description {
  font-size: large;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.exp-plans {
  color: #fff;
}

.card-header {
  background-color: #ef8712;
}

.card-body {
  background-color: #60b4c0;
}

/* Testimonials Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #60b4c0;
}

.testimonial-header {
  font-size: 3rem;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 8px;
  margin: 10px;
}

em {
  font-family: "Ubuntu";
  font-size: large;
}

em:hover {
  color: #ef8712;
  cursor: pointer;
}

#press {
  background-color: #60b4c0;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Recognition */
#recognition {
  padding: 7% 15%;
  background-color: #c2fbf2;
  z-index: 1;
  position: relative;
  text-align: center;
}

.recognition-box {
  text-align: center;
  padding: 5%;
}

.recognition-header {
  color: #000;
  font-size: 3rem;
}

.recognition-details {
  color: #60b4c0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.icon {
  color: #ef8712;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #60b4c0;
  cursor: pointer;
}

/* Call to Action Section CTA */
#cta {
  background-color: #60b4c0;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "DynaPuff";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #c2fbf2;
}

.social-icon {
  margin: 20px 10px;
}

.social-icon:hover {
  color: #ef8712;
  cursor: pointer;
}

/* Media Query Section */

@media (max-width: 1028px){
  #title {
    text-align: center;
  }
}